@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
    <h2>Ana Sayfa</h2>
    <div><li style="display:inline">@Html.ActionLink("Resim Ekle", "ResimEkle", "Home")</li></div>
</body>
</html>

